<h1>Cart</h1>

<div id="cart">
  {{#if courses.length}}
    <table>
      <thead>
        <tr>
          <th>Course</th>
          <th>Price</th>
          <th>Count</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each courses}}
          <tr>
            <td>{{title}}</td>
            <td>{{price}}</td>
            <td>{{count}}</td>
            <td>
              <button
                class="btn btn-small js-remove material-icons"
                data-id="{{id}}"
                data-token="{{@root.csrf}}"
              >clear</button>
            </td>
          </tr>
        {{/each}}
      </tbody>

    </table>
    <p><b>Total price: </b><span class="price">{{totalPrice}}</span></p>

    <form action="/orders" method="POST">
      <input type="hidden" name="_csrf" value="{{csrf}}">
      <button type="submit" class="btn">Make order</button>
    </form>
  {{else}}
    <p>Cart is empty</p>
  {{/if}}
</div>