<h1>Edit course {{title}}</h1>

<form action="/courses/edit" method="post">
  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" required value="{{course.title}}" />
    <label for="title">Course name</label>
    <span class="helper-text" data-error="Too short" data-success="ok"></span>
  </div>

  <div class="input-field">
    <input id="price" name="price" type="number" class="validate" required min="1" value="{{course.price}}" />
    <label for="price">Price (usd)</label>
    <span class="helper-text" data-error="Enter price" data-success="ok"></span>
  </div>

  <div class="input-field">
    <input id="img" name="img" type="text" class="validate" required value="{{course.img}}" />
    <label for="img">Img url</label>
    <span class="helper-text" data-error="Wrong url" data-success="ok"></span>
  </div>
  <input name="id" type="hidden" value="{{course.id}}" />
  <button class="btn btn-primary">Edit course</button>
</form>
